@import '../../assets/style/_variables';

.header_style{
    background-color: $theme-color;
    .login_signup{
        list-style-type: none;
        margin: 0;
        overflow: hidden;
        li{
            float: right;
            a{
                cursor: pointer;
                display: block;
                padding: 16px 16px;
                color: white;
                text-decoration: none;
                &:hover{
                    background-color: $light-black2;
                    color: $theme-light;
                }
            }
        }
    }
}